[submodule "docs"]
	path = docs
	url = https://github.com/DeanoC/SpiderDocs
[submodule "deps/spider-protocol"]
	path = deps/spider-protocol
	url = https://github.com/DeanoC/SpiderProtocol.git
[submodule "deps/ziggy-tool-runtime"]
	path = deps/ziggy-tool-runtime
	url = https://github.com/DeanoC/ZiggyToolRuntime.git
